.picker {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    position: absolute;
    top: 10px;
    width: 100%;
    z-index: 100;
}

.padding {
    visibility: visible;
    margin-top: 25px;
}

.button {
    outline: none;
    border-radius: 10px;
    background-color: black;
    width: 200px;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border-color: white;
    z-index : inherit
}



.padding-hidden {
    visibility: hidden;
    margin-top: 25px;
}